{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block field_sets %}
    {% comment %}
        Элемент для превью тела поста
    {% endcomment %}
    {% autoescape off %}
        <div class="body-preview" style="display: none">
            {{ adminform.form.instance.body }}
        </div>
    {% endautoescape %}

    {% comment %}
        Цикл для заполнения полей
    {% endcomment %}
    {% for fieldset in adminform %}
      {% include "admin/includes/fieldset.html" %}
    {% endfor %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
    <style>
        .body-preview {
            border: 1px solid red;
            padding: 10px;
        }

        #toggle-preview {
            padding: 3px 6px;
        }

        #toggle-preview a {
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #toggle-preview i {
            display: block;
            font-size: 20px;
        }
    </style>

    <script>
        let visibility = false;

        document.addEventListener("DOMContentLoaded", function() {
            const bodyPreviewElem = document.querySelector(".body-preview");

            {% comment %}
                Если  тип "Markdown" - нужно создать объект сonverter
            {% endcomment %}
            {% if adminform.form.instance.is_markdown %}
                const converter = new showdown.Converter({});
                bodyPreviewElem.innerHTML = converter.makeHtml(bodyPreviewElem.innerHTML);
            {% endif %}

            // обработчик изменения поля - каждый раз, когда контент меняется, его надо обновить в preview
            document.querySelector(".form-row.field-body textarea[name='body']").addEventListener("input", function(evt) {
                let html = evt.target.value;  // контент тела поста
                {% if adminform.form.instance.is_markdown %}
                    html = converter.makeHtml(html);
                {% endif %}

                // присваиваем элементу preview новый html
                bodyPreviewElem.innerHTML = html;
                const codeBlocks = document.querySelectorAll("pre > code");

                // обновляем подстветку кода для всех элементов сode там
                for (let i = 0; i < codeBlocks.length; i++) {
                    hljs.highlightBlock(codeBlocks[i]);
                }
            });
        });

        // обработчик переключения видимости элемента Preview
        function toggleVisibility(evt) {
            evt.preventDefault();
            visibility = !visibility;
            document.querySelector("#toggle-preview i.material-icons").textContent = visibility ? "visibility" : "visibility_off";
            document.querySelector(".body-preview").style.display = !visibility ? "none" : "block";
        }

        hljs.initHighlightingOnLoad();
    </script>
{% endblock %}


{% block object-tools %}
    {% if not is_popup %}
        <ul class="object-tools">
            {% block object-tools-items %}
                {% comment %}
                    Добавляем кнопку переключения видимости элмента Preview
                {% endcomment %}
                <li>
                    <a id="toggle-preview" href="" onclick="toggleVisibility(event)" class="historylink">
                        <i class="material-icons">
                            visibility_off
                        </i>
                    </a>
                </li>
                {% if change  %}
                    <li>
                        <a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% translate "History" %}</a>
                    </li>
                    {% if has_absolute_url %}
                        <li>
                            <a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% translate "View on site" %}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endblock %}
        </ul>
    {% endif %}
{% endblock %}