{% extends 'base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/post-item.css' %}">
    <style>
        #root {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="root">
        <h1>Блог по машинному обучению</h1>

        {% for post in posts %}
            {% include 'post-item.html' %}
        {% endfor %}

    </div>
{% endblock body %}