{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/post-item.css' %}">
    <style>
        #root {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="root">
        <h1>Блог по машинному обучению</h1>
        {% include "pagination.html" %}

        {% for post in posts %}
            {% include 'post-item.html' %}
        {% endfor %}
    </div>

    {% if not user.is_authenticated or user.is_ad_shown %}
        {% if is_ad_visible %}
            <aside class="ad vertical">
                <div class="ad-item">
                    <div class="head">Изучение машинного обучения в SkillBox</div>
                    <a href="https://skillbox.ru/course/profession-data-scientist/" target="_blank">
                        <img src="https://mtdata.ru/u4/photo5073/20930459427-0/original.jpg" alt="Реклама skillbox">
                    </a>
                </div>
                <div class="ad-item">
                    <div class="head">Изучение машинного обучения в SkillFactory</div>
                    <a href="https://skillfactory.ru/dstpro" target="_blank">
                        <img src="https://avatars.mds.yandex.net/get-zen_doc/1893760/pub_5e85dd2cddc8e520673d9961_5e85e3e0e76e9e2043c845a7/scale_1200" alt="Реклама skillfactory">
                    </a>
                </div>
            </aside>
        {% endif %}
    {% endif %}
    {% include "pagination.html" %}
{% endblock body %}