{% extends 'base.html' %}

{% block head %}
    <style>
        .container {
            background-color: #45290c;
            box-shadow: 0 0 6px 2px #ffb961;
            width: 36vw;
            margin: 5vh auto;
            padding: 5px 20px;
            box-sizing: border-box;
            position: relative;
            top: 10vh;
        }

        .container > .content {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            overflow-x: hidden;
            width: 100%;
        }

        .container > .content form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
        }

        .container > .content form p {
            width: 80%;
            text-align: left;
            margin: 8px 0;
            margin-left: 40px;
        }

        .container > .content form p:nth-of-type(1) {
            margin-top: 0;
        }

        .container > .content form input[type="password"] {
            padding: 5px 20px;
            margin: 10px 0;
            border-radius: 3px;
            color: #444;
            font-size: 20px;
            width: calc(100% - 30px);
        }


        .container > .content form .submit-container {
            text-align: right;
            width: 100%;
        }

        .container > .content form input[type="submit"] {
            margin-top: 30px;
            cursor: pointer;
            background: #a366ff;
            border: 1px solid #2c226e;
            padding: 6px 10px;
            color: #35170c;
            outline: none;
        }

        .container > .content form input[type="submit"]:hover {
            opacity: 0.75;
        }

        .container > .content form input[type="submit"]:hover:active {
            border-color: yellow;
        }

        .container a.back {
            text-decoration: none;
            color: #AAA;
            font-size: 16px;
            margin: 30px 0;
            position: relative;
            bottom: 5.5vh;
            left: 1vw;
        }

        .container a.back:hover {
            color: #AAF;
        }

    </style>
{% endblock %}


{% block body %}
    <div class="container">
        <h1>Смена пароля</h1>
        <div class="content">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="submit-container">
                    <input type="submit" value="Сохранить">
                </div>
            </form>
        </div>
        <a href="/account/" class="back">Назад</a>
    </div>
{% endblock %}

{% block script %}
{% endblock %}