<div class="post-item">
    <div class="title">
        <a href="/post/{{ post.id }}">{{ post.title }}</a>
        {% if post.category %}
            <span class="category">
                {{ post.category }}
            </span>
        {% endif %}
    </div>
    <div class="body">
        {% autoescape off %}
            {{ post.body | striptags | truncatechars:60 }}
        {% endautoescape %}
    </div>
    <div class="footer">
        <div class="indicator">
            <span>
                <i class="material-icons">
                    visibility
                </i>
            </span>
            <span>
                {{ post.views }}
            </span>
        </div>
        <div class="indicator">
            <span>
                <i class="material-icons">
                    comment
                </i>
            </span>
            <span>
                {{ post.comment_amount }}
            </span>
        </div>
        <div class="indicator">
            <span>
                <i class="material-icons">
                    star
                </i>
            </span>
            <span>
                {{ post.rating | floatformat:"1" }} (Оценок - {{ post.estimation_amount }})
            </span>
        </div>
    </div>
</div>