{% extends 'base.html' %}
{% load static %}

{% block head %}
    <style>
        h1 {
            text-align: center;
            margin: 0 auto;
            margin-top: 25px;
            max-width: 70vw;
        }
        main {
            font-size: 22px;
            color: #CDC1FF;
            margin: 0 auto;
            margin-top: 40px;
            width: 85vw;
            text-indent: 2em;
        }

        .indicators {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 45px;
            margin-bottom: 30px;
            padding: 10px 30px;
        }

        .indicators > .indicator {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 30px;
        }

        @media (max-width: 1200px) {
            .indicators > .indicator {
                font-size: 24px;
            }
        }

        @media (max-width: 850px) {
            .indicators > .indicator {
                font-size: 16px;
            }
        }

        .indicators > .indicator > span {
            display: inline-block;
            margin: 0 3px;
        }


        .rating-container {
            margin: 20px;
            border: 1px solid red;
            padding: 40px;
            user-select: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .rating-container > .result {
            font-size: 40px;
        }

        .rating-container .current {
            margin: 20px 0;
            font-size: 16px;
        }
        .rating-container .estimate-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .rating-container .estimate-container .text {
            font-size: 20px;
            display: inline-block;
            margin-right: 10px;
            position: relative;
            top: 5px;
        }
        .rating {
            unicode-bidi: bidi-override;
            direction: rtl;
            display: flex;
        }
        .rating > span {
            display: inline-block;
            position: relative;
            width: 1.2em;
            font-size: 40px;
            text-align: center;
            padding: 10px 0;
            box-sizing: border-box;
            color: yellow;
        }
        .rating > span:hover {
            cursor: pointer;
        }
        .rating > span:hover:before,
        .rating > span:hover ~ span:before {
            content: "\2605";
            position: absolute;
        }


        .comments {
            margin-top: 30px;
        }

        .comments > .header {
            font-size: 30px;
            text-align: center;
            margin: 10px;
        }

        .comments > form {
            margin: 26px auto;
            background: rgba(10, 47, 170, 0.5);
            width: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 0;
            border-radius: 20px;
            box-shadow: 2px 2px 20px 1px rgba(100, 247, 255, 0.35);
        }

        .comments > form textarea {
            width: 500px;
            border-width: 0;
            padding: 4px;
            margin: 0;
            margin-top: 5px;
        }

        .comments > form input[type="submit"] {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 8px 16px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }

        .comments > .message {
            text-align: center;
            font-size: 25px;
        }

        .comments .comment-list {
            margin: 30px auto;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        .comments .comment-list .no-comments-msg {
            margin: 50px auto;
            font-size: 40px;
            text-align: center;
        }

        #created_datetime {
            position: absolute;
            left: 20px;
            top: 90px;
            font-size: 14px;
        }

        #created_datetime .updated_datetime {
            position: relative;
            top: 6px;
            font-size: 13px;
            color: #E0E0E0;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
    <link rel="stylesheet" href="{% static 'css/code-clipboard-button.css' %}">
<script src="{% static 'js/code-clipboard-button.js' %}"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
{% endblock %}


{% block body %}
    <div id="created_datetime">
        {{ post.created_at }}
        {% if post.updated_at  != post.created_at %}
            <br>
        <span class="updated_datetime">Обвнолено: {{ post.updated_at }}</span>
        {% endif %}
    </div>
    <h1>{{ post.title }}</h1>
    <main>
        {% autoescape off %}
            {{ post.body }}
        {% endautoescape %}
    </main>

    {% if is_ad_visible %}
        <aside class="ad horizontal">
            <div class="ad-item">
                <div class="head">Изучение машинного обучения в SkillBox</div>
                <a href="https://skillbox.ru/course/profession-data-scientist/" target="_blank">
                    <img src="https://mtdata.ru/u4/photo5073/20930459427-0/original.jpg" alt="Реклама skillbox">
                </a>
            </div>
            <div class="ad-item">
                <div class="head">Изучение машинного обучения в SkillFactory</div>
                <a href="https://skillfactory.ru/dstpro" target="_blank">
                    <img src="https://avatars.mds.yandex.net/get-zen_doc/1893760/pub_5e85dd2cddc8e520673d9961_5e85e3e0e76e9e2043c845a7/scale_1200" alt="Реклама skillfactory">
                </a>
            </div>
        </aside>
    {% endif %}

    <div class="indicators">
        <div class="indicator indicator-views">
            <span>Просмотры:</span>
            <span class="indicator-value">
                {{ post.views | floatformat:"0" }}
            </span>
            <span>
                <i class="material-icons">
                    visibility
                </i>
            </span>
        </div>
        <div class="indicator indicator-comment_amount">
            <span>Комментарии:</span>
            <span class="indicator-value">
                {{ post.comment_amount | floatformat:"0" }}
            </span>
            <span>
                <i class="material-icons">
                    comment
                </i>
            </span>
        </div>
        <div class="indicator indicator-rating">
            <span>Рейтинг:</span>
            <span class="indicator-value">
                {{ post.rating | floatformat:"1" }}
            </span>
            <span>
                <i class="material-icons">
                    star
                </i>
            </span>
        </div>
        <div class="indicator indicator-estimation_amount">
            <span>Оценки:</span>
            <span class="indicator-value">
                {{ post.estimation_amount | floatformat:"0" }}
            </span>
            <span>
                <i class="material-icons">
                    calculate
                </i>
            </span>
        </div>
    </div>

    {% if user.is_authenticated %}
        <div class="rating-container">
            {% if is_user_estimated %}
                <div class="result">
                    Ваша оценка поста принята
                </div>
            {% else %}
                <div class="estimate-container">
                    <span class="text">
                        Оценить:
                    </span>
                    <div class="rating">
                        {% for points in '54321'|make_list %}
                            <span data-points="{{ points }}">☆</span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="current">
                Текущий рейтинг: <span class="average">{{ post.rating }}</span>
                (Оценок: <span class="amount">{{ post.estimation_amount }}</span>)
            </div>
        </div>
    {% endif %}

    <div class="comments">
        {% if user.is_authenticated %}
            <div class="header">Добавить комментарий</div>
            <form action="/comment/{{ post.id }}/" method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="submit" value="Отправить">
            </form>
            {% if comment_success == "1" %}
                <div class="message">Ваш комментарий успешно отправлен!</div>
            {% elif comment_success == "0" %}
                <div class="message">Что-то пошло не так...</div>
            {% endif %}
        {% endif %}
        <a id="to-comments" href="#" style="width: 0; height: 0;"></a>
        {% include "pagination.html" %}
        <div class="comment-list">
            {% if comments %}
                {% for comment in comments %}
                    {% include 'comment.html' %}
                {% endfor %}
            {% else %}
                <span class="no-comments-msg">Комментариев пока нет</span>
            {% endif %}
        </div>
        {% include "pagination.html" %}
    </div>
{% endblock %}

{% block script %}
    {% if post.is_markdown %}
        <script>
            showdown.extension('myext', function() {
              return [
                /*{
                    type: 'lang',
                    regex: /</gim,
                    replace: '\<'
                },*/
                /*{
                  type: 'lang',
                  filter: function (text, converter, options) {
                     text = text + "@@@@@@@@";
                     return text;
                  }
                },*/
                {
                    type: 'listener',
                    listeners: {
                        'hashHTMLBlocks.before': function (event, text, converter, options, globals) {
                            console.log("BEFORE!!!!", text);
                            text = text.replace(/<p>/gim, "&lt;p&gt;");
                            text = text.replace(/<\/p>/gim, "&lt;/p&gt;");
                            return text;
                        },
                        'hashHTMLBlocks.after': function (event, text, converter, options, globals) {
                            console.log("AFTER!!!!", text);
                            //text = text.replace(/&lt;p&gt;/gim, "<p>");
                            //text = text.replace(/&lt;\/p&gt;/gim, "</p>");


                            /*text = text.replace(/^ {0,3}<[a-z]+\b[^>]*>$/gmi, function (wm) {
                            return '\n\n¨K' + (globals.gHtmlBlocks.push(wm) - 1) + 'K\n\n';
                            });*/
                            return text;
                        }
                    }
                }

               ];
            });
            (function(){
                const converter = new showdown.Converter({
                    extensions: [],
                    backslashEscapesHTMLTags: true
                });
                const main = document.getElementsByTagName("main")[0];
                main.innerHTML = converter.makeHtml(main.innerHTML);
            })();
        </script>
    {% endif %}
    <script>
        if (document.querySelector(".rating-container .rating")) {
            document.querySelector(".rating-container .rating").addEventListener("click", evt => {
                const el = evt.target;
                const points = el.dataset.points;
                //alert(points);
                const data = {
                    score: points,
                    post: {{ post.id }}
                };
                axios.post(
                    "/estimate/",
                    data,
                    {
                        headers: {
                            "X-CSRFTOKEN": getCookie("csrftoken")
                        }
                    }
                 )
                .then(response => {
                    const data = response.data;
                    console.log("DATA = ", data);
                    if (data.success) {
                        //alert("Ваша оценка сохранена!");
                        const div = document.createElement("div");
                        div.innerHTML = "Ваша оценка поста принята";
                        div.className = "result";

                        document.querySelector(".rating-container").prepend(div);
                        document.querySelector(".rating-container .estimate-container").remove();

                        document.querySelector(".rating-container .current > span.average").textContent = (+data["rating"]).toFixed(1);
                        document.querySelector(".rating-container .current > span.amount").textContent = (+data["estimation_amount"]).toFixed(0);

                        document.querySelector(".indicators .indicator.indicator-rating .indicator-value").textContent = (+data["rating"]).toFixed(1);
                        document.querySelector(".indicators .indicator.indicator-estimation_amount .indicator-value").textContent = (+data["estimation_amount"]).toFixed(0);
                    } else {
                        alert(data.errors.join("\n"));
                    }
                })
                .catch(err => {
                    console.error(err);
                    alert("Что-то пошло не так...");
                });
            });
        }
        if (window.location.search.indexOf("page") > -1) {
            window.location.hash = "to-comments";
        }

        hljs.initHighlightingOnLoad();
        window.initCodeBlockClipboardButtons();
    </script>
{% endblock %}